@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-red);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    text-decoration-color: var(--vt-c-red);
    text-underline-offset: 8px;
  }
}
